#page-content{
     padding: 0% 4%;
}

.header_nav{
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.element:nth-child(1){
    align-self: flex-start;
    
}

#sign{
    order: 4;
    padding-top: 30px;
    font-size: x-large;
    margin-left: 10px
}

.nav_link{
    font-size: x-large;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    margin-right: 40px;
    padding-top: 30px;
    
}

.nav_link:hover{
    border-top: 3px solid #0065FC;
    border-bottom: 3px solid #fff;
}

#divlog{
    flex-basis: 80%;
}

#sign, .nav_activites, .nav_hebergements, #logos{
    flex-basis: 0;
}

#logos{
    width: 150px;
    padding-top: 0%;
    padding-left: 0px;
}
 
.head{
    width: 500px;
}

.anchor{
    flex-basis: auto;
    margin-right: 5%;
    border-bottom: 0px solid white;
    border-top:2px solid white; 
    padding-top: 50px;  
}

.anchor:hover {
    border-top: 2px solid #0065FC;
    border-bottom: 0px solid white;
}

#wrapper{
    margin: 0%;
}

#recherche{
    margin: 0%;
}

#recherche h2{
    font-size: x-large;
    margin-bottom: 0.5%;
}

#recherche p{
    font-size: x-large;
    margin-bottom: 2%;
}

#iphone{
    display: none;
    overflow: hidden;
}

#rechercher{
    display: block;
}

#choice{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0%;
}

#filter_title{
    flex-basis:4%;
    margin-right: 0%;
}

#choice li{
    margin-bottom: 0%;
}

#title_info{
    margin-bottom: 2%;
    margin-left: 0%;
}

#set{
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
}

#hebergement{
    background-color: #F2F2F2;
    height: 100%;
    width: 66%;
    margin-top: 0%;
}

.ensemble{
    flex-direction: row;
    margin-bottom: 0%;
    height: 40%;
}

.card{
    margin: 2% 3%;
    height: 87%;
    max-height: 250px;
    min-height: 230px;
}
.card img{
    height: 75%;
}

#subtitle{
    white-space: nowrap;
    margin-left: 30px;
    
}

aside{
    width: 31%;
    height: 100%;
    border-radius: 15px;
    justify-content: space-around;
}

#popular_title{
    margin-bottom: 20px;
}
.card-pop{
    width: 80%;
    height: 25%;
    max-width: 420px;
}

#activities_title h3{
    margin-bottom: 0px;
}

#activites-resp{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 65vh;
}

.card-activities-small{
    margin: 0px;
    width: 22.5%;
}

.card-activities-small:hover{
    box-shadow: 6px 5px 13px 6px rgba(0,0,0,0.3);
    transition-duration:  0.1s;
}

#activites-resp :nth-child(1), #activites-resp :nth-child(4){
    height: 90%;
    
}

#activites-resp :nth-child(2), #activites-resp :nth-child(6){
    height: 46.5%;
}

#activites-resp :nth-child(3), #activites-resp :nth-child(5){
    height: 38%;
}

#activites-resp :nth-child(3) img, #activites-resp :nth-child(5) img{
    height: 75%;
}

#activites-resp :nth-child(2) img, #activites-resp :nth-child(6) img{
    height: 80%;
}

footer{
    flex-direction:row;
    padding-left: 0px;
}

footer ul{
    padding-left: 0px;
}

footer li{
    margin-bottom: 2%;
}

footer ul :nth-child(1) {
    margin-top: 3%;
}

@media screen and (min-width: 770px) and (max-width: 1080px)
{
    #set{
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 130vh;
    }
    aside{
        flex-direction: row;
        width: 100%;
        height: 30%;
        flex-wrap: wrap;
    }
    .card-pop{
        height: 190px;
        width: 30%;
        margin-top: 0%;
    }
    #popular_title{
        flex-direction: column;
        margin: 3% 0%;
    }
    #hebergement{
        width: 100%;
        height: 60%;
    }
}