#page-content{
    padding: 0% 4%;
}

#sign-mobile{
    display: none;
    overflow: hidden;
}
#sign-desktop{
    display: block;
    padding-top: 50px;
    color:  #0065FC;
}

header{
    display: flex;  
    justify-content: space-between;   
}

#mainheader{
    margin: 0%;
}

header a{
    font-size: x-large;
    
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 600px;
       
}
.head{
    width: 500px;
}
.anchor{
    flex-basis: auto;
    margin-right: 5%;
    border-bottom: 0px solid white;
    border-top:2px solid white; 
    padding-top: 50px;  
}

.anchor:hover {
    border-top: 2px solid #0065FC;
    border-bottom: 0px solid white;
}

#wrapper{
    margin: 0%;
}

#recherche{
    margin: 0%;
}

#recherche h2{
    font-size: x-large;
    margin-bottom: 0.5%;
}

#recherche p{
    font-size: x-large;
    margin-bottom: 2%;
}

#iphone{
    display: none;
    overflow: hidden;
}

#rechercher{
    display: block;
}

#choice{
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0%;
}

#filter_title{
    flex-basis:4%;
    margin-right: 0%;
}

#choice li{
    margin-bottom: 0%;
}

#title_info{
    margin-bottom: 2%;
    margin-left: 0%;
}

#set{
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
}

#hebergement{
    background-color: #F2F2F2;
    height: 100%;
    width: 66%;
    margin-top: 0%;
}


.ensemble{
    flex-direction: row;
    margin-bottom: 0%;
}

.card{
    margin: 2% 3%;
}

#subtitle{
    white-space: nowrap;
    margin-left: 30px;
    
}

aside{
    width: 31%;
    height: 100%;
    border-radius: 15px;
    justify-content: space-around;
}

.card-pop{
    width: 85%;
    height: 170px;
    max-width: 415px;
}
#activites-resp{
    display: none;
    overflow: hidden;
}

#activites{
    display: flex;
    justify-content: space-between;
    height: 60vh;
}

#activites h5{
    margin: 3%;
    font-size: large;
}
#activites img{
    border-radius: 25px 25px 0px 0px;
}
.large{
    width: 22.5%;
    border-radius: 25px 25px 25px 25px;
    box-shadow:2px 3px 13px 1px rgba(0,0,0,0.3);
}

.large img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.binome_img{
    width: 22.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle{
    height: 50%;
    border-radius: 25px 25px 25px 25px;
    box-shadow:2px 3px 13px 1px rgba(0,0,0,0.3);
}

.middle img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.small{
    height: 43%;
    border-radius: 25px 25px 25px 25px;
    box-shadow:2px 3px 13px 1px rgba(0,0,0,0.3);
}

.small img{
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.large:hover{
    box-shadow: 6px 5px 13px 6px rgba(0,0,0,0.3);
    transition-duration:  0.1s;
}
.middle:hover{
    box-shadow: 6px 5px 13px 6px rgba(0,0,0,0.3);
    transition-duration:  0.1s;
}
.small:hover{
    box-shadow: 6px 5px 13px 6px rgba(0,0,0,0.3);
    transition-duration:  0.1s;
}

footer{
    flex-direction:row;
}

footer li{
    margin-bottom: 2%;
}
footer ul :nth-child(1) {
    margin-top: 3%;
}


@media screen and (min-width: 770px) and (max-width: 1024px)
{
    #set{
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 130vh;
    }
    aside{
        flex-direction: row;
        width: 100%;
        height: 30%;
        flex-wrap: wrap;
    }
    .card-pop{
        height: 190px;
        width: 30%;
        margin-top: 0%;
    }
    #popular_title{
        flex-direction: column;
        margin: 3% 0%;
    }
    #hebergement{
        width: 100%;
        height: 60%;
    }






}