body{
    height: 100%;
    justify-content: center;
    margin: 0px 0px;
    padding: 0% 0%;
}
/* HEADER */
header{
    flex-wrap: nowrap;
    width: 99%;
    justify-content: space-between;
    align-items: flex-start;
}

#sign{
    margin-top: 5%;
}
header ul{
    margin-right: 100%;
    justify-content: space-between;
    font-size: 0.8em;
    flex-wrap: nowrap;
}
header ul :nth-child(1){
    margin-right: 0%;
}
header ul  :nth-child(2){
    padding: 15% 20% 2% 30%;
}
header ul li{
    padding: 15% 10% 1% 10%;
    border-bottom: 2px #F2F2F2 solid ;
    width: 100%;
}
header li:hover{
    border-top: 0px;
    border-bottom: 2px solid #0065FC;
}

nav{
    align-items: flex-end;
    font-size: 0.8em;
}

#rechercher{
    display: none;
}
#iphone{
    display:inline-block;
    font-size: 1em;
}
#iphone i{
    background-color:#0065FC;
}

#logos{
    width: 30%;
}
#recherche{
    width: 95%;

}
#recherche h2{
    font-size: x-large;
    margin-bottom: 3%;
}
#recherche p{
    font-size: large;
    margin-bottom: 8%;
}

form{
    height: 3em;
}

form div{
    height: 100%;
    display: flex;
    flex-direction: row;
}

form button, input{
    height: 100%;
    width: 80%;
    font-weight: bold;
    
}
#recherche button{
    width: 7%;
    text-align: center;
    padding-right: 8%;
    
}
#recherche i{
    height: 58%;  
    font-size: x-large;
    width: 3%;
    padding:1% 2.5%;
}


/* END HEADER */

/* FILTRE */
#choice{ 
    flex-direction: column;
    align-items: flex-start;
}

#choice h2{
    margin-bottom: 0%;
}

#choice ul{
    flex-direction: column;   
    padding: 0%;  
}






#choice ul p{
    margin: 2% 0%;
}
*/
#choice ul li:nth-child(2){
    order: 4;
}
/*

/* END FILTRES */



main{
    align-items: center;
    flex-direction: column;
    align-items: center;
}
}
/* HEBERGEMENT */
#logement{
    display: block;
}

#set{         
    justify-content: space-evenly;
    align-items: center;
    width: 100%; 
}

#hebergement{
    align-items: center;
}
.ensemble{ 
    flex-direction: column;
    align-items: center;
}
 .card{
    height: 33%;
    width: 340px;
    margin: auto;
    margin: 2% 6%;
}

#hebergement h3{
    margin-top: 0%;
}
#plus{
    margin-left: 5%;
    font-size: large;
}

/* END HEBERGEMENT */

/* POPULAIRE */

aside{
   width: 100%;
   flex-direction: column;
   border-radius: 0px;
   justify-content: center;
   margin-top: 5%;

   
}
.card-pop{
    width: 340px;
    height: 250px;
    margin: 6% 0%;
}

.card-pop img{
    height: 95%;
    width: 38%;
}

aside a{
    width: 100%;
}
 /* END POPULAIRE */





  /* ACTIVITES */
#activites{
    display: none;  
}

#activites-resp{
    display: flex;   
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#activites-resp .element{
    width: 340px;
    height: 250px;
    margin: 4% 0%;
    border-radius: 25px;
    box-shadow: 2px 3px 13px 1px rgba(0,0,0,0.3);
}

#activites-resp .element img{
    height: 70%;
    width: 100%;  
    border-radius: 25px 25px 0px 0px;
    margin: 0%;
    object-fit: cover;
}

#activites-resp .element h5{
    margin: 3% 0% 2% 5%;
    font-size: large;
}




/* FOOTER */


footer{
    
    width: 100%;
    flex-direction: column;;
    justify-content: space-evenly;
    
}
footer h4{
    white-space: nowrap;
}
footer li{
    white-space: nowrap;
    margin-bottom: 20%;
}
footer div{
    margin: 0%;
    
}
footer ul :nth-child(1){
    margin-top: 10%;
}