body{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

header{
    flex-wrap: wrap;
    width: 99%%;
    justify-content: center;
    align-items: center;
}
nav{
    flex-direction: column-reverse;
    align-items: flex-end;
    font-size: 0.8em;
}


#logos{
    width: 30%;
}
#recherche{
    width: 100%;
}
#recherche h2{
    font-size: x-large;
    margin-bottom: 3%;
}
#recherche p{
    font-size: large;
    margin-bottom: 8%;
}


#choice{
    width: 100%;
    height: 50vh;
    flex-direction: column;
    align-items: flex-start;
}
#choice ul{
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: ;
    padding: 0%;
    width: 100%;
    font-size: x-large;
}
#choice ul li{
    width: fit-content;
    height: 20%;

}

#set{
    justify-content: flex-start;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 300vh;
    width: 100%;
}


#hebergement{
    height: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#hebergement figure{
    height: 15%;
    width: 90%;
    margin: auto;
}
#hebergement div{
    flex-direction: column;
    flex-wrap: nowrap;
}
aside{
    height: 25%;
    width: 100%;
}

aside figure{
    width: 90%;
    height: 25%;
}
aside a{
    width: 100%;
}

#activites{
    height: 350vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}
#activites .binome_img{
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.large{
    height: 18%;
    width: 100%;
}
.binome_img{
    flex-direction: column;
    width: 100%;
}
.binome_img figure{
    height: 50%;
}


footer{
    height: 100vh;
    width: 100%;
    flex-direction: column;
    text-align: flex-start;
    justify-content: flex-start;

}
footer div{
    padding: 0%;
    margin: 0%;
}
}