body{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

header{
    flex-wrap: wrap;
    width: 99%;
    justify-content: space-between;
    align-items: flex-start;
}

#sign{
    margin-top: 5%;
}
header ul{
    margin-right: 100%;
    justify-content: space-between;
    font-size: 0.8em;
}
header ul :nth-child(1){
    margin-right: 0%;
}
header ul  :nth-child(2){
    padding: 15% 20% 2% 30%;
}
header ul li{
    padding: 15% 10% 1% 10%;
    border-bottom: 2px #F2F2F2 solid ;
    width: 100%;
}
header li:hover{
    border-top: 0px;
    border-bottom: 2px solid #0065FC;
}

nav{
    flex-direction: column-reverse;
    align-items: flex-end;
    font-size: 0.8em;
}
input{
    font-size: 1.0em;
}
#rechercher{
    display: none;
}
#iphone{
    display:inline-block;
    font-size: 1em;
}
#iphone i{
    background-color:#0065FC;
}

#logos{
    width: 30%;
}
#recherche{
    width: 95%;
 
}
#recherche h2{
    font-size: x-large;
    margin-bottom: 3%;
}
#recherche p{
    font-size: large;
    margin-bottom: 8%;
}


#choice{
    width: 95%;
    height: 36vh;
    flex-direction: column;
    align-items: flex-start;
}
#choice h2{
    margin-bottom: 0%;
}
#choice ul{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0%;
    width: 100%;
    height: 70%;
}
#choice ul p{
    margin: 2% 0%;
}
#choice ul li:nth-child(2){
    order: 4;
}

#choice ul li{
    width: fit-content;
    font-size: 1.1rem;
    margin:3.5%;
    margin-left: 0%;
    white-space: nowrap;
    padding-right: 7%;

}
#logement{
    display: block;
}

#set{
    justify-content: flex-start;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 380vh;
    width: 100%;
}


#hebergement{
    height: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
#hebergement figure{
    height: 15%;
    width: 90%;
    margin: auto;
    height: 13%;
}

#hebergement div{
    flex-direction: column;
    flex-wrap: nowrap;
}
#hebergement h3{
    margin: 0%;
}
#plus{
    margin-left: 5%;
    font-size: large;
}
aside{
    height: 25%;
    width: 100%;
    border-radius: 0px;
}

.polulaire{
    width: 100%;
    height: 25%;
}

aside a{
    width: 100%;
}


#activites{
    display: none;
    height: 350vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}
#activites .binome_img{
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.large{
    height: 18%;
    width: 100%;
}
.binome_img{
    flex-direction: column;
    width: 100%;
}
.binome_img figure{
    height: 50%;
}

#activities_title{
    white-space: nowrap;
    width: 90%;
}

#activites-resp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#activites-resp .element{
    width: 90%;
    height: 12em;
    margin: 4% 0%;
}

#activites-resp .element img{
    height: 70%;  

}

#activites-resp .element h5{
    margin: 0% 0% 5% 5%;
}

footer{
    height: 75vh;
    width: 100%;
    flex-direction: column;;
    justify-content: space-evenly;
    padding-left: 5%;
}
footer h4{
    white-space: nowrap;
}
footer li{
    white-space: nowrap;
}
footer div{
    margin: 0%;
    display: flex;
    height: 30%;
}
footer ul :nth-child(1){
    margin-top: 10%;
}