body{
    
    font-family: "Raleway" , "sans-serif";
    display: flex;
    flex-direction: column; 
    margin: 0%;
}


#page-content{
    padding: 0% 3%;
}
/* HEADER */

header{
    width: 100%;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around ;
    padding: 0%;
    margin-top: 0%;
}

header li{
    display: inline;
    margin-right: 9%;
    padding-top: 10%;
    margin-top: 1%;
    list-style: none;   
    border: solid 2px white;
}

header  a{
    color: black;
    text-decoration: none;
}

nav{
    display:flex ;
    width: 40%;
    justify-content: flex-end;
    margin-right: 1%;
    flex-wrap: wrap-reverse;
}

#logos{
    margin-top: 10px;   
    width: 180px; 
}

header li:hover{
    color: #0065FC;
    border-top: 2px solid;  
}

#sign{
    float: right;
    margin-left: 40px;
    margin-top: 8px;
    padding-top: 37px;
    color: #0065FC;
    font-weight: bold;
}

/* HEADER END*/



/* SEARCH */

#recherche{
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    margin-left: 1%;
}

#recherche h2{
    font-size: xx-large;
    margin-bottom: 0%;
}

#recherche p{
    margin-top: 0.2%;
    margin-bottom: 1%;
}

input{
    font-size: large;
    padding: 8px;
    border: 1px #F2F2F2 solid ;
}

#recherche h3{
    font-weight: bold;
}

#recherche button{
    background-color:  #0065FC;
    color: white;
    font-size: large;
    margin-left:-12px;
    padding: 9px;
    border: 0px;
    border-radius: 0px 12px 12px 0px;
    cursor: pointer;
}
#iphone{
    display: none;
}
#loupe{
    display: none;
}
#recherche i{
    background-color:  #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    font-size: large;
    padding: 9px;
    padding-bottom: 12px;
}

/*SEARCH END*/

/* FILTER */

#choice{
    display: flex;
    align-items: center;
    margin-top: 1%;
    padding-left: 1.2%;
    font-weight: bold;
    margin-bottom: 1%;   
}

#choice h2 {
    font-size: 1em;
}

#choice ul{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

#choice li{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 2%;
    border: #F2F2F2 1px solid;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
    
}
#choice li p{
    padding: 0px 30px;
}

.filtre {   
    background-color: #DEEBFF;
    border-radius: 50px;
    text-align: center;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    height: 53px;
    width: 54px;
    margin-left: -0.7%;
}

.icones{
    background-color: #DEEBFF;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    color: #0065FC;    
    font-size: large;    
}

#choice li:hover {
    background-color: #0065FC;
    color: #DEEBFF;
}

/*FILTER END*/


#title_info{
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}
#title_info i{
    color:#0065FC;
    margin-right: 10px;
    border: solid 3px #F2F2F2;
    border-radius: 50px;
    padding: 5px 10px;
}

/*HEBERGEMENT*/

#set{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#hebergement{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;    
    width: 67%;
    border-radius: 15px;
    margin-top: 1.2%;
}

.ensemble{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;   
    width: 100%;
    margin-bottom: 4%;
}

.titre{
    margin-left: 4%;
    font-size: 1.5em;
    margin-top: 3%;
    
}

#subtitle{
    width: 90%;
}
#subtitle h4{
    cursor: pointer;
    margin-left: 5%;
}

.card{
    width: 26%;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 3px 13px 1px rgba(0,0,0,0.3);
    min-width: 200px;
}
.card .fas{
    color:  #0065FC;
}

.card .far{
    color: grey;
}

.card img{
    height: 60%;
    width: 95%;
    border-radius: 10px;
    margin: 2.2%;
    object-fit: cover;
    max-height: 160px;  
}


.card h4{
    margin:  0% 2% 2% 6%;
}

.card p{
    margin: 0% 2% 2% 6%;
}

.card:hover{
    box-shadow: 6px 5px 13px 6px rgba(0,0,0,0.3);
    transition-duration:  0.1s;
}

/*  HEBERGEMENT END */

/*POPULAIRE*/

aside{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 28%;
    border-radius: 15px;
    margin-top:  1.2%;
    margin-left: 1%;
}

aside .card-pop{
    box-shadow: 2px 3px 13px 1px rgba(0,0,0,0.3);
}

aside .card-pop:hover{
    box-shadow: 6px 5px 13px 6px rgba(0,0,0,0.3);
    transition-duration: 0.1s;    
}

.card-pop a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#popular_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-left: 5%;
}

#popular_title span{
    margin-right: 10%;
    margin-top: 5%;   
    font-size: large;
}
#popular_title span i{
    color: black;
    height: 1em;
    width: 1em;
}

#popular_title span i:hover{
    color: #0065FC;
}

aside h3{
    font-size: 1.5em;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 0%;
}

/* TODO : a partir de 1020px -> fichier taille-moyenne.css où populaire passe au-dessus */
.card-pop{
    background-color: white;
    text-align: center;
    border-radius: 17px;
    height: 22%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.card-pop img{
    width: 60%;
    height: 90%;
    border-radius:  17px 0px 0px 17px;
    margin-left: 2%;
    object-fit: cover;
    /* TODO : trouver les bonnes valeurs */
    max-width: 125px;
    min-height: 95%;
}
.card-pop a{
    width: 100%;
    height: 100%;
}
.card-pop div{
    margin-left: 5%;
    width: 200px;
    text-align: left;
}

.card-pop i{
    color: #0065FC;
}

.card-pop .far {
    color: gray;
}



     /*ACTIVITÉ*/
#activities_title{
    height: 4%;
    margin-top: 2%;
    margin-left: 20px;
}

#activites{
    width: 98%;
    height: 60vh;
    margin: 0% 2% 0% 1%;
    display: flex; 
    justify-content: space-between;
}

#activites article h5{
   margin: 5%;
}

#activites article:hover{
    box-shadow: 6px 5px 13px 6px rgba(0,0,0,0.3);
    transition-duration: 0.1s;
}
.large{
    width: 22%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px  #F2F2F2;   
}

#activites .large img{
    height:90%;
    width: 100%; 
    border-radius:15px 15px 0px 0px ; 
    object-fit: cover;  
}

#activites .large h5{
    margin-top: 4%;
    font-size: 1em;   
}


.binome_img{
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle{
    height: 50.1%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px  #F2F2F2;
}

#activites .middle h5{ 
    margin-top: 4%;
     font-size: 1em;   
 }

.small{
    height: 37.6%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px  #F2F2F2;
}

#activites .small img{
    height:80%;
    width: 100%; 
    border-radius:15px 15px 0px 0px ;  
    object-fit: cover; 
}

#activites .small h5{
    margin-top:2%; 
    font-size: 1em;       
}

#activites article img{
    height:80%;
    width: 100%; 
    border-radius:15px 15px 0px 0px ;
    object-fit: cover;   
}


#activites-resp{
    display: none;
}

    /*ACTIVITES END*/

     /*FOOTER*/

footer{
    background-color: #F2F2F2;
    margin-top: 3%;
    width: 100%;
    display: flex;     
}

footer div{
    height: 70%;
    width: 28%;
    margin: auto;
}

footer h4{
    font-size: 1.5em;
    margin: 0%
}

footer ul{
    text-align: left;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    margin: 0%;
    padding-left: 5%;
}

footer li{
    list-style-type: none;
    font-size: medium;
    margin: 3% 0%;
}

 a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
}



